{% extends 'WebProfilerBundle:Profiler:layout.html.twig' %}

{% block toolbar %}
    {% set icon %}{% endset %}
    {% set text -%}
        <span style="cursor: pointer;" title="Hide ESI debug info" onclick="(function(){
            var i, j, parent, elems = document.getElementsByClassName('esi-debug-details');
            for (i = elems.length - 1; i >= 0; i--) {
                parent = elems[i].parentNode;
                parent.removeChild(elems[i]);
                for (j = parent.children.length - 1; j >= 0; j--) {
                    parent.parentNode.insertBefore(parent.children[j], parent);
                }
                parent.parentNode.removeChild(parent);
            }
        }());">Hide ESI</span>
    {%- endset %}
    {% include 'WebProfilerBundle:Profiler:toolbar_item.html.twig' with { 'link': profiler_url } %}
{% endblock %}
